.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
	padding: 20px 10px;
}

.cke-placeholder-hidden {
  display: none;
}

.cke-placeholder.cke_widget_element {
  padding: 3px 10px;
  border: 1px solid #aaa;
  border-top: 3px solid #9aa;
  background: #efefef;
  margin: 10px 0;
  box-shadow: 1px 1px 3px #999;
}

.cke_widget_wrapper.floater .cke_widget_element {
	display: inline;
}

.cke_widget_wrapper.floater .row {
	margin: 0;
}

/* Adjust cols width to accommodate for draghandle */
.cke_widget_wrapper.floater .col-sm-4 {
	width: 29.2%;
	margin: 1%;
	border: 1px dotted slategrey;
}
.cke_widget_wrapper.floater .col-sm-6 {
	width: 46.4%;
	margin: 1%;
	border: 1px dotted slategrey;
}
.cke_widget_wrapper .row .col-sm-4,
.cke_widget_wrapper .row .col-sm-6 {
	padding: 0;
}

 /* Position drag-handler */
.floater .cke_widget_drag_handler_container,
.no-floater .cke_widget_drag_handler_container {
	display: inline-block;
	opacity: 0 !important;
	top: 10px !important;
	left: -40px !important;
	position: relative !important;
	float: left;
	width: 15px;
	height: 15px !important;
}
.cke_widget_wrapper.floater .cke_widget_drag_handler_container {
	float: left;
}
.cke_widget_wrapper.no-floater .cke_widget_drag_handler_container {
	left: -10px;
}
.cke_widget_wrapper:hover .cke_widget_drag_handler_container {
	display: inline-block;
	opacity: 1 !important;
}

/* Adjust width on non-floating elements to accommodate for draghandle */
.cke_widget_wrapper.no-floater {
	width: 98%;
	margin: 1%;
	display: inline-block;
	border: 1px dotted slategrey;
}

.cke_widget_wrapper.no-floater::before,
.cke_widget_wrapper.no-floater::after {
	clear: both;
	display: block;
	content: '';
}

.cke_widget_editable {
	background: #FFF;
	border: 1px solid #ccc;
	padding: 3px;
}

.cke_widget_wrapper.no-floater .cke_widget_element {
	width: 97%;
	float: left;
}

/*Move yellow outline to child element*/
.cke_widget_wrapper.floater:hover > .cke_widget_element,
.cke_widget_wrapper.prefab:hover,
.cke_widget_wrapper.prefab:hover .caption,
.cke_widget_wrapper.floater:hover .cke_widget_editable {
	outline: none !important;
}

.cke_widget_wrapper.prefab:hover .cke_widget_element,
.cke_widget_wrapper.floater:hover .cke_widget_element > div:not(.cke-placeholder-preview),
.cke_widget_wrapper.floater:hover .cke_widget_element .cke-placeholder-preview > div {
	outline: 2px solid yellow;
}

/*Move blue outline to child element*/
.cke_widget_wrapper.floater.cke_widget_focused > .cke_widget_element,
.cke_widget_wrapper.floater .cke_widget_editable.cke_widget_editable_focused {
	outline: none !important;
}
.cke_widget_wrapper.floater.cke_widget_focused:not(.prefab) > .cke_widget_element > div:not(.cke-placeholder-preview),
.cke_widget_wrapper.floater.cke_widget_focused > .cke_widget_element > .cke-placeholder-preview > div {
	outline: 2px solid #ace;
}
